name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Actualizamos el "Checkout" a la versión 4 (la más nueva)
      - uses: actions/checkout@v4

      # Este es el robot constructor (ese se queda igual)
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # CORRECCIÓN AQUÍ: Usamos upload-artifact@v4 (Versión permitida)
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
